// variable color
$blue: #34313f;
$lightblue: #292633;
$primary: #01d85f;
$indigo: #7635f5;
$gray: #808080;
$graydark: #34313f;
$black: #201e29;
$lightdark: #292633;
$white: #fff;
$lightgray: #808080;
$gray-dark: #343a40;


// variable font-size
$fs-0: 14px; //default

// padding
$p-sm: 15px;
$p-md: 20px;
$p-lg: 30px;
$p-xl: 40px;
$p-2xl: 50px;

// margin
$m-sm: 15px;
$m-md: 20px;
$m-lg: 30px;
$m-xl: 40px;
$m-2xl: 50px;

// width
$s: 10%;
$w-s: 20%;
$w-sm: 25%;
$w-md: 50px;
$w-lg: 50%;
$w-xl: 60%;
$w-2xl: 72%;
$w-3xl: 80%;
$w-4xl: 90%;
$w-full: 100%;

// height
$h-sm: 20px;
$h-md: 25px;
$h-lg: 30px;
$h-xl: 40px;
$h-2xl: 50px;
$h-3xl: 10vh;
$h-4xl: 20vh;
$h-full: 100vh;


$breakpoint-sm: 640px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;
$breakpoint-2xl: 1536px;
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;


/* transition */
$transition: all 300ms linear;





