@import "../../../App.scss";

header {
    background-color: $gray;
    padding: $p-sm 0;

    .header__block {
        @include flex(space-between,center);
        
        .nav__menu {
            .nav__list {
                @include flex(space-between,center,30px);
    
                @include media-lg {
                    flex-direction: column;
                    gap: 50px;
                }
            }
            
        }
    }
}

