@import './helpers/variables';
@import './base/reset';
@import './helpers/mixin';



@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


html{
  font-size: 10px;
}
body{
  font-size: 1.6rem;
  line-height: 1.6;
  font-family: $font-family-sans-serif;
  color: $black;
}
h1, h2, h3, h4, h5, h6{
  letter-spacing: 1px;
  text-transform: capitalize;
}


/* custom utility classes */
.container{
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
}

/* flexbox and grid */
.flex{
  display: flex;
}

.grid{ 
  display: grid; 
}

.justify{
  &-center{ justify-content: center;}
  &-between{ justify-content: space-between;}
  &-start{ justify-content: flex-start;}
  &-end{ justify-content: flex-end;}
}

.items{
  &-center{ align-items: center;}
  &-start{ align-items: flex-start;}
  &-end{ align-items: flex-end;}
  &-stretch{ align-items: stretch;}
}

/* height and width */
.h-100{height: 100%;}
.w-100{width: 100%;}


/* font weights */
.fw{
  &-1{font-weight: 100;}
  &-2{font-weight: 200;}
  &-3{font-weight: 300;}
  &-4{font-weight: 400;}
  &-5{font-weight: 500;}
  &-6{font-weight: 600;}
  &-7{font-weight: 700;}
  &-8{font-weight: 800;}
  &-9{font-weight: 900;}
}

/* common font sizes */
.fs{
  &-13{font-size: 13px;}
  &-14{font-size: 14px;}
  &-15{font-size: 15px;}
  &-16{font-size: 16px;}
  &-17{font-size: 17px;}
  &-18{font-size: 18px;}
  &-19{font-size: 19px;}
  &-20{font-size: 20px;}
  &-21{font-size: 21px;}
  &-22{font-size: 22px;}
  &-23{font-size: 23px;}
  &-24{font-size: 24px;}
  &-25{font-size: 25px;}
  &-26{font-size: 26px;}
}

/* letter spacing */
.ls-1{letter-spacing: 1px;}
.ls-2{letter-spacing: 2px;}

/* margin and padding */
.mx-auto{
  margin-right: auto;
  margin-left: auto;
}