// global styles & resets
*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
li{
  list-style-type: none;
}
a{
  text-decoration: none;
  color: unset;
}
img{
    width: 100%;
    display: block;
}
.img-cover{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
button{
    cursor: pointer;
    outline: 0;
    border: none;
    background-color: transparent;
    font-family: inherit;
}
input, textarea, select{
    outline: 0;
    border: none;
    resize: none;
    font-family: inherit;
}
